
{% if Core.moduleData.YandexDirectJSON.yl_id %}

<div id="showCompanyBlock">

<style>
    .bannerBlock {margin:0px 0px 30px 0px;width:100%;}

    .banner {font-size:10pt;color:#666;position:relative;top:0;left:0;}
    .banner label{font-size:8pt;color:#666;position:relative;top:0;left:0;}
    .banner .preview{border-left:3px solid #cccccc;margin:10px;padding:5px 10px;min-width:150px}
    .banner .preview h2{font-size:11pt;font-weight:normal;text-decoration:underline;margin:0px;padding:0px}
    .banner .preview h2 a{font-weight:bold;color:#00C;text-decoration:none}
    .banner .preview p{font-size:10pt;font-weight:normal;color:#000;margin:1px 0px;padding:0px}
    .banner .preview .banner_footer{color:#006600}
    .banner .geo{color:#666;font-size:8pt;margin:3px 0px 0px 23px}

    .bannerBlock .phrases {}
    .bannerBlock .phrases th{font-size:9pt;font-weight:normal;text-align: left;vertical-align: bottom;padding:2px 10px}
    .bannerBlock .phrases td{font-size:10pt;font-weight:normal;text-align: left;padding:5px 10px 2px 10px;vertical-align: top;border-top:grey dashed 1px}
    .bannerBlock .phrases td .Prices td{font-size:10pt;font-weight:normal;text-align: left;padding:0px;vertical-align: top;border:0px}

    .bannerSelectors, .bannerSelectors select, .bannerSelectors input {font-size:8pt;}
    .bannerSelectors select {width:100%}

    .saveDiv {padding:8px 100px 5px 100px;background:#c4c4c4}
     
    .companys {font-size: 14pt;margin:20px 0px 20px 0px}
    .companys a {padding:3px 10px}
    .companys .companySelected {color:#fff;background: #3e4145}
    
    .strategySelector {width:100%}
    .strategyGroupSelector {width:100%}

</style>

    <div class="inform">
        <table align="center" cellpadding="0" cellspacing="0" class="table">
        <tr>
            <form method="post" class="inform">
                <!--Активировать: <input name="newActivate" type="checkbox" value="yes"{% if Core.moduleData.YandexDirectJSON.yl_directActivate == 'Y' %} checked{% endif %}><br>-->
                <td>Запускать каждые:  <input name="newRestartMin" style="text-align:center;width: 30px;min-width: 30px;" type="text"
                      value="{{ Core.moduleData.YandexDirectJSON.yl_directRestartMin }}"> минут</td>
                <td>
                    <input type="submit" value="Сохранить">
                    <a href="javascript:confirmRedirect('Удалить?', '/{{ Core.moduleData.className }}/{{ Core.moduleData.YandexDirectJSON.yl_login }}/delete/')"><img alt="Удалить" title="Удалить" src="templates/system/img/del.png"></a>
                </td>
            </form>
        </tr>
        <tr>
            <td style="border-top:grey dashed 1px;padding-top:5px">
                {% if Core.moduleData.YandexDirectJSON.yl_token and Core.moduleData.YandexDirectJSON.yl_token_expires_in > Core.date %}
                    Доступ к аккаунту активирован до <span class="date">{{ Core.moduleData.YandexDirectJSON.yl_token_expires_in|date('d.m.Y H:i:s') }}</span>
                {% else %}
                    Доступ к аккаунту неактивирован!
                {% endif %}
            </td>
            <td style="border-top:grey dashed 1px;padding-top:5px">
                <form method="get" action="https://oauth.yandex.ru/authorize">
                    <input name="client_id" value="{{ Core.moduleData.clientId }}" type="hidden">
                    <input name="response_type" value="code" type="hidden">
                    <input name="state" value="{{ Core.moduleData.login.yl_login }}" type="hidden">
                    <input style="text-align:center" type="submit" value="Обновить доступ к аккаунту ЯндексДирект">
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                Время последнего запуска: <span class="date">{% if Core.moduleData.YandexDirectJSON.yl_directDate %}{{ Core.moduleData.YandexDirectJSON.yl_directDate|date('d.m.Y H:i:s') }}{% else %}в ожидании{% endif %}</span>
            </td>
        </tr>
        </table>
    </div>

<script>
function openCompany(id) {
    jQuery('.company').css('display', 'none');
    jQuery('#company'+id).css('display', 'block');
    
    jQuery('.companys a').removeClass('companySelected');
    jQuery('#companyA'+id).addClass('companySelected');
}


function setValues(restriction, setClass, valObj) {
    val = jQuery(valObj).val();
    jQuery(restriction+' '+setClass).val(val);
    
    //alert (val +' --- '+restriction+' '+setClass + ' = '+valObj);
}

</script>


    {% autoescape false %}
    {% if Core.moduleData.YandexDirectJSON.campaigns %}
        <div class="companys">кампании: 
        {% for cId in Core.moduleData.YandexDirectJSON.campaigns|keys %}
            <a id="companyA{{ cId }}" href="javascript:openCompany({{ cId }})"{% if loop.index == 1 %} class="companySelected"{% endif %}>«{{ Core.moduleData.YandexDirectJSON.campaigns[cId].Name }}»</a>
        {% endfor %}
        </div>
        
        {% for cId in Core.moduleData.YandexDirectJSON.campaigns|keys %}
            <div class="company" id="company{{ cId }}"{% if loop.index != 1 %} style="display:none"{% endif %}>
                <h2>Кампания: «{{ Core.moduleData.YandexDirectJSON.campaigns[cId].Name }}»<br>
                <span class="comm">
                    <span>№ заказа: {{ Core.moduleData.YandexDirectJSON.campaigns[cId].CampaignID }}</span>
                    <span>Статус: {{ Core.moduleData.YandexDirectJSON.campaigns[cId].Status }}</span>
                    <span>Начало: {{ Core.moduleData.YandexDirectJSON.campaigns[cId].StartDate }}</span>
                    <span>Сумма: {{ Core.moduleData.YandexDirectJSON.campaigns[cId].Sum }} у.е.</span>
                    <span>Кликов: {{ Core.moduleData.YandexDirectJSON.campaigns[cId].Clicks }}</span>
                    <span>Показов: {{ Core.moduleData.YandexDirectJSON.campaigns[cId].Shows }}</span>
                </span>
                </h2>
                
                {% if Core.moduleData.YandexDirectJSON.campaigns[cId].banners %} 
                    <form method="post">
                    <div class="saveDiv"><input type="submit" name="saveStrategy" value="Сохранить изменения"></div>

                    <p>Назначить всем фразам стратегию
                    <select onChange="setValues('#company{{ cId }}', '.strategySelector', '#globalSetStrategy{{ cId }}')" id="globalSetStrategy{{ cId }}">
                        <option></option>
                        <option value="0">отсутсвует</option>
                        {% for sId in Core.moduleData.YandexDirectJSON.strategy|keys %}
                            <option value="{{ sId }}">{{ Core.moduleData.YandexDirectJSON.strategy[sId].name }}</option>
                        {% endfor %}
                    </select><br>
                    Назначить всем фразам максимальную ставку:
                        <input style="min-width:40px;width:40px;;text-align:center" type="text" id="globalSetMaxPrise{{ cId }}" 
                           onChange="setValues('#company{{ cId }}', '.strategySelector', '#globalSetMaxPrise{{ cId }}')"
                           onKeyUp="setValues('#company{{ cId }}', '.maxPrise', '#globalSetMaxPrise{{ cId }}')">
                    </p>

                    {% for bId in Core.moduleData.YandexDirectJSON.campaigns[cId].banners|keys %}
                        {% set row = Core.moduleData.YandexDirectJSON.campaigns[cId].banners[bId] %}

                        {% if row.StatusShow == 'Yes' and row.StatusArchive == 'No' and row.StatusBannerModerate == 'Yes' %}
                            <table class="bannerBlock" id="bannerBlock{{ bId }}">
                                <tr valign="top">
                                    <td style="width:300px">
                                        <div class="banner">
                                            <a name="{{ row.BannerID }}"></a>
                                            <label>&#8470;&nbsp;M-{{ row.BannerID }}</label>

                                            <div class="preview">
                                                <h2><a>{{ row.Title }}</a></h2>
                                                <p>{{ row.Text }}</p>
                                                <div class="banner_footer">{{ row.Href }}</div>
                                            </div>

                                            <!--<div class="geo">Регионы показа: {{ row.Geo }}</div>-->
                                        </div>

                                        <div class="bannerSelectors">
                                            Стратегия:<br>
                                            <select onChange="setValues('#bannerBlock{{ bId }}', '.strategySelector', '#bannerSetStrategy{{ bId }}')" id="bannerSetStrategy{{ bId }}">
                                                <option></option>
                                                <option value="0">отсутсвует</option>
                                                {% for sId in Core.moduleData.YandexDirectJSON.strategy|keys %}
                                                    <option value="{{ sId }}">{{ Core.moduleData.YandexDirectJSON.strategy[sId].name }}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            Максимальная ставка:<br>
                                            <input style="min-width:40px;width:40px;;text-align:center" type="text" id="bannerSetMaxPrise{{ bId }}"
                                               onChange="setValues('#bannerBlock{{ bId }}', '.maxPrise', '#bannerSetMaxPrise{{ bId }}')"
                                               onKeyUp="setValues('#bannerBlock{{ bId }}', '.maxPrise', '#bannerSetMaxPrise{{ bId }}')">
                                        </div>

                                    </td>
                                    <td>
                                        <table class="phrases">
                                        <tr>
                                            <th style="min-width:100px">Фраза</th>
                                            <th>Позиция и цена</th>
                                            <th>
                                            </th>
                                        </tr>

                                        {% for pId in Core.moduleData.YandexDirectJSON.campaigns[cId].banners[bId].phrases|keys %}
                                            {% set rowpId = Core.moduleData.YandexDirectJSON.campaigns[cId].banners[bId].phrases[pId] %}
                                            <tr>
                                                <td>
                                                    <span style="color:#00C;white-space: pre;font-weight: bold">{{ rowpId.PhraseStrip }}</span>

                                                    <table cellpadding="5" cellspacing="0" width="100%" style="margin-top:5px">
                                                    <tr>
                                                        <td>Показы</td><td style="text-align: right">{{ rowpId.Shows }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Клики</td><td style="text-align: right">{{ rowpId.Clicks }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CTR</td><td style="text-align: right">{{ rowpId.CTR }}</td>
                                                    </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="Prices">
                                                    <tr>
                                                        <td>1 спец.</td>           <td style="text-align: right">{{ rowpId.PremiumMax }}</td>
                                                    </tr>
                                                    {% if rowpId.Premium2 %}
                                                        <tr>
                                                            <td>2 спец.</td>              <td style="text-align: right">{{ rowpId.Premium2 }}</td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td>3 спец.</td>              <td style="text-align: right">{{ rowpId.PremiumMin }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1 справа</td>                    <td style="text-align: right">{{ rowpId.Max }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>гарант.</td>      <td style="text-align: right">{{ rowpId.Min }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>активная</b></td><td style="text-align: right"><b>{{ rowpId.Price }}</b></td>
                                                    </tr>
                                                    </table>

                                                    <!-- {{ rowpId.Prices }} -->

                                                </td>
                                                <td>Стратегия:
                                                    <select name="strategy_{{ pId }}" class="strategySelector">
                                                        <option value="0"{% if rowpId.strategy == 0 %} selected{% endif %}>отсутсвует</option>
                                                        {% for sId in Core.moduleData.YandexDirectJSON.strategy|keys %}
                                                            <option value="{{ sId }}"{% if rowpId.strategy == sId %} selected{% endif %}>{{ Core.moduleData.YandexDirectJSON.strategy[sId].name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <br>
                                                    Максимальная ставка:<br>
                                                    <input style="min-width:40px;width:40px;;text-align:center" class="maxPrise" type="text" name="maxPrise_{{ pId }}" value="{{ rowpId.maxPrise }}"><br>

                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}

                    {% endfor %}
                    <div class="saveDiv"><input type="submit" name="saveStrategy" value="Сохранить изменения"></div>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% endautoescape %}
</div>

{% else %}

{% endif %}

