{% extends "obeton/index.html" %}
{% set front = Core.moduleData.ASNews.object %}
{% block H1 %}{{ front.name }}{% endblock %}
{% block title %}{{ front.name }}{% endblock %}
{% block content %}

{% autoescape false %}
<p>{{ front['Описание'] }}
    {{ front["Сопутствующая информация"] }}
    
    <table class="newsBlocksLinks" cellpadding="0" cellspacing="0" style="border:0px"><tr valign="middle">
      <!-- Меню новости -->
      {% set inherit = Core.moduleData.ASNews.menu %}
      {% set systemVars = Core.moduleData.ASNews.systemVars %}
      {% set i = 0 %}
      {% set k = 0 %}
        {% for id in Core.moduleData.ASNews.menu %}
                  <td class="newsBlockLink" style="text-align: left {% if front.name == id.name %}; background: #eee{% endif %}">
                      <div style="position: relative">
                          <!--<div class="img">
                            <img src ="/templates/obeton/img/{% if id.type == "новость" %}i_new.png{% elseif id.type == "сообщение" %}i_mess.png{% elseif id.type == "предупреждение" %}i_alert.png{% endif %}" />
                          </div>-->
                        <a href="{{ id.url }}" {% if front.name == id.name %}style="color:#000"{% endif %}>
                          {{ id.name }}
                          <!--<div style="float:right;color: #557cb1;">
                             {{ id.date|date("d.m.Y") }}
                          </div>
                          -->
                        </a>
                      </div>
                  </td>
          {% set i = i + 1 %}


          {% if k == 1 %}
              {% set k = 0 %}
                </tr><tr valign="middle">
          {% else %}
            {% set k = k + 1 %}
          {% endif %}
        {% endfor %}
      <!-- /Меню новости -->
    </tr></table>

    {% endautoescape %}

{% endblock %}





