<div style="margin:80px auto;width:500px;">

{% autoescape false %}
    {% if Core.H1 %}
        <H1>{{Core.H1}}</H1>
    {% endif %}

    {% if Core.contentTemplate %}
        {% include Core.contentTemplate %}
    {% endif %}

    {{ Core.error }}
    {{ Core.message }}
    {{ Core.content }}
{% endautoescape %}

<form method="post">
<table align="center" style="margin-top:30px;margin-bottom:30px">
<tr>
    <td>Почта: </td>
    <td><input type="text" name="login"size="25" maxlength="225"></td>

    <td>Пароль: </td>

    <td><input type="Password" name="pass" size="25" maxlength="225"></td>

    <td><input type="checkbox" name="save_login" checked value="true"></td>
    <td>Запомнить</td>

    <td><input type="submit" value="Вперед" name="in" /></td>
</tr>
</table>
</form>
</div>