
<h2>Элементы сборных парапатных ограждений в одностороннем и двухстороннем исполнении</h2>



<style>
.rTable td {text-align: center;padding:10px;border-bottom: 1px solid grey}
.rTable td.img {border-bottom: 0px}
</style>

<table class="rTable" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="6" class="img">
            <h3>Элементы группы <span style="color: red">А</span></h3>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Высота (мм)</td>
        <td>Длина (мм)</td>
        <td>Ширина (мм)</td>
        <td>Исполнение</td>
        <td>Наименование в соотвествии с ТУ (ТУ 5899-002-6154-8960-2010)</td>
    </tr>
    <tr>
        <td rowspan="3" class="img">
            <img src="/templates/obeton/img/r/R1.png">
        </td>
        <td>810</td>
        <td>3500</td>
        <td>470</td>
        <td>одностороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,81 (0,81)-П</td>
    </tr>
    <tr>
        <td>850</td>
        <td>3500</td>
        <td>470</td>
        <td>одностороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,85 (0,81)-С</td>
    </tr>
    <tr>
        <td>930</td>
        <td>3500</td>
        <td>470</td>
        <td>одностороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,93 (0,81)-С</td>
    </tr>
    <tr>
        <td rowspan="3" class="img">
            <img src="/templates/obeton/img/r/R2.png">
        </td>
        <td>810</td>
        <td>3500</td>
        <td>470</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,81 (0,81)-П</td>
    </tr>
    <tr>
        <td>850</td>
        <td>3500</td>
        <td>470</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,85 (0,81)-С</td>
    </tr>
    <tr>
        <td>930</td>
        <td>3500</td>
        <td>470</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,93 (0,81)-С</td>
    </tr>
    <tr>
        <td rowspan="3" class="img">
            <img src="/templates/obeton/img/r/R3.png">
        </td>
        <td>810</td>
        <td>2016</td>
        <td>610/940</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,81 (0,81)-СП</td>
    </tr>
    <tr>
        <td>850</td>
        <td>2016</td>
        <td>610/940</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,85 (0,81)-СП</td>
    </tr>
    <tr>
        <td>930</td>
        <td>2016</td>
        <td>610/940</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-0,93 (0,81)-СП</td>
    </tr>

    <tr>
        <td colspan="6" class="img">
            <h3>Элементы группы <span style="color: blue">B</span></h3>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Высота (мм)</td>
        <td>Длина (мм)</td>
        <td>Ширина (мм)</td>
        <td>Исполнение</td>
        <td>Наименование в соотвествии с ТУ (ТУ 5899-002-6154-8960-2010)</td>
    </tr>
    <tr>
        <td rowspan="3" class="img">
            <img src="/templates/obeton/img/r/R4.png">
        </td>
        <td>1150</td>
        <td>3500</td>
        <td>540</td>
        <td>одностороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-1,15 (1,15)-П</td>
    </tr>
    <tr>
        <td>850</td>
        <td>3500</td>
        <td>540</td>
        <td>одностороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/600-1,19 (1,15)-С</td>
    </tr>
    <tr>
        <td>930</td>
        <td>3500</td>
        <td>540</td>
        <td>одностороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/600-1,27 (1,15)-С</td>
    </tr>
    <tr>
        <td rowspan="3" class="img">
            <img src="/templates/obeton/img/r/R5.png">
        </td>
        <td>1150</td>
        <td>3500</td>
        <td>680</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-1,15 (1,15)-П</td>
    </tr>
    <tr>
        <td>1190</td>
        <td>3500</td>
        <td>680</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/600-1,19 (1,15)-С</td>
    </tr>
    <tr>
        <td>1270</td>
        <td>3500</td>
        <td>680</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/600-1,27 (1,15)-С</td>
    </tr>
    <tr>
        <td rowspan="3" class="img">
            <img src="/templates/obeton/img/r/R6.png">
        </td>
        <td>1150</td>
        <td>2860</td>
        <td>680/1130</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/400-1,15 (1,15)-ПП</td>
    </tr>
    <tr>
        <td>1190</td>
        <td>2860</td>
        <td>680/1130</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/600-1,19 (1,15)-СП</td>
    </tr>
    <tr>
        <td>1270</td>
        <td>2860</td>
        <td>680/1130</td>
        <td>двухстороннее</td>
        <td>12-ДО-ТУ 5899-002-6154-8960-2010/600-1,27 (1,15)-СП</td>
    </tr>
</table>

<h3>Переходный элемент ограждения по высоте с группой "А" на ограждение группы "В"</h3>
<img src="/templates/obeton/img/r/R7.png">
